@page "/"

<style>
    .nav {
        height: 44px;
        padding: 5px 5px 0;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid #eeeeee;
        background: #fdfdfd;
    }

    .tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
    }

    .tabs-container {
        display: flex;
        width: 100%;
    }

    .tab {
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        padding: 10px 15px;
        position: relative;
        background: white;
        cursor: pointer;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        min-width: 0;
        user-select: none;
        color: #0f1115;
    }

    .underline {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background: blue;
    }

    .box {
        width: 100px;
        height: 100px;
        background-color: blue;
        border-radius: 10px;
    }
</style>

<PageTitle>Home</PageTitle>

<div style="width: 100%; display: flex; flex-direction: column; gap: 5rem;">
    <div>
        <h2>LayoutId</h2>

        <nav class="nav">
            <ul class="tabs tabs-container">
                @foreach (var tab in _tabs)
                {
                    <Motion As="li"
                            class="tabs tab"
                            @key="@tab"
                            @onclick="@(() => _selectedTab = tab)">
                        @($"{tab.Item1} {tab.Item2}")
                        @if (_selectedTab == tab)
                        {
                            <Motion LayoutId="underline" Transition="@_transition" class="underline" />
                        }
                    </Motion>
                }
            </ul>
        </nav>
    </div>

    <div>
        <h2>Animate Presence</h2>

        <button style="margin-bottom: 1rem;" @onclick="@(() => _show = !_show)">Toggle</button>
        <AnimatePresence>
            @if (_show)
            {
                <Motion As="div"
                        Key="@("test")"
                        Enter="@_enter"
                        Exit="@_exit"
                        class="box">
                </Motion>
            }
        </AnimatePresence>
    </div>
</div>

@code {
    private bool _show;

    private (string, string)[] _tabs = new (string, string)[]
    {
        new("🍅", "Tomato"),
        new("🥬", "Lettuce"),
        new("🧀", "Cheese"),
    };

    private (string, string) _selectedTab = new("🍅", "Tomato");

    private object _enter = new
    {
        Opacity = new float[2] { 0, 1 },
        Scale = new float[2] { 0, 1 },
    };

    private object _exit = new
    {
        Opacity = 0,
        Scale = 0
    };

    private object _transition = new
    {
        Type = "spring",
        Bounce = .15f,
        Duration = .5f
    };
}